@import url("../css/andy-bell-reset.css");
@font-face {
    font-family: jetbrains-mono;
    src: url(../assets/fonts/variable/JetBrainsMono[wght].ttf),
         url(../assets/fonts/variable/JetBrainsMono-Italic[wght].ttf);
}

:root {
    /* ROSE PINE MAIN/DARK */
    /* ACCENT COLORS */
    --clr-pink-dt: hsl(343, 76%, 68%);
    --clr-yellow-dt: hsl(35, 88%, 72%);
    --clr-rose-dt: hsl(2, 55%, 83%);
    --clr-blue-dt: hsl(197, 49%, 38%);
    --clr-light-blue-dt: hsl(189, 43%, 73%);
    --clr-purple-dt: hsl(267, 57%, 78%);

    /* NEUTRAL COLORS DARK */
    --clr-neutral-dark-900: hsl(249, 22%, 12%);
    --clr-neutral-dark-800: hsl(247, 23%, 15%);
    --clr-neutral-dark-600: hsl(248, 25%, 18%);
    --clr-neutral-dark-400: hsl(249, 12%, 47%);
    --clr-neutral-dark-300: hsl(248, 24%, 75%);
    --clr-neutral-dark-100: hsl(245, 50%, 91%);

    /* ROSE PINE LIGHT */
    /* ACCENT COLORS */
    --clr-pink-lt: hsl(343, 35%, 55%);
    --clr-yellow-lt: hsl(35, 81%, 56%);
    --clr-rose-lt: hsl(3, 53%, 67%);
    --clr-blue-lt: hsl(197, 53%, 34%);
    --clr-light-blue-lt: hsl(189, 30%, 48%);
    --clr-purple-lt: hsl(268, 21%, 57%);

    /* NEUTRAL COLORS LIGHT */
    --clr-neutral-light-100: hsl(35, 100%, 98%);
    --clr-neutral-light-200: hsl(32, 57%, 95%);
    --clr-neutral-light-300: hsl(28, 40%, 92%);
    --clr-neutral-light-400: hsl(257, 9%, 61%);
    --clr-neutral-light-600: hsl(248, 12%, 52%);
    --clr-neutral-light-700: hsl(248, 19%, 40%);


    /* FONT */
    --ff-special: jetbrains-mono, system-ui, sans-serif;
    --ff-global: system-ui, sans-serif;

    /* FONT SIZE */
    --fs-100: .75rem;
    --fs-200: .875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;

    /* MISC */
    --size-main-border: 2rem;
}

/* COLOR THEME MEDIA QUERY */
@media (prefers-color-scheme: dark) {
    :root[data-color-theme="dark"] {
        --clr-bg: var(--clr-neutral-dark-900);
        --clr-bg-2: var(--clr-neutral-dark-600);
        --clr-text-heading: var(--clr-neutral-dark-100);
        --clr-text-regular: var(--clr-neutral-dark-300);

        --clr-pink: var(--clr-pink-dt);
        --clr-yellow: var(--clr-yellow-dt);
        --clr-rose: var(--clr-rose-dt);
        --clr-blue: var(--clr-blue-dt);
        --clr-light-blue: var(--clr-light-blue-dt);
        --clr-purple: var(--clr-purple-dt);
    }
}

:root[data-color-theme="dark"] {
    --clr-bg: var(--clr-neutral-dark-900);
    --clr-bg-2: var(--clr-neutral-dark-600);
    --clr-text-heading: var(--clr-neutral-dark-100);
    --clr-text-regular: var(--clr-neutral-dark-300);

    --clr-pink: var(--clr-pink-dt);
    --clr-yellow: var(--clr-yellow-dt);
    --clr-rose: var(--clr-rose-dt);
    --clr-blue: var(--clr-blue-dt);
    --clr-light-blue: var(--clr-light-blue-dt);
    --clr-purple: var(--clr-purple-dt);
}

@media (prefers-color-scheme: light) {
    :root[data-color-theme="light"] {
        --clr-bg: var(--clr-neutral-light-100);
        --clr-bg-2: var(--clr-neutral-light-200);
        --clr-text-heading: var(--clr-neutral-light-700);
        --clr-text-regular: var(--clr-neutral-light-600);

        --clr-pink: var(--clr-pink-lt);
        --clr-yellow: var(--clr-yellow-lt);
        --clr-rose: var(--clr-rose-lt);
        --clr-blue: var(--clr-blue-lt);
        --clr-light-blue: var(--clr-light-blue-lt);
        --clr-purple: var(--clr-purple-lt);
    }
}

:root[data-color-theme="light"] {
    --clr-bg: var(--clr-neutral-light-100);
    --clr-bg-2: var(--clr-neutral-light-200);
    --clr-text-heading: var(--clr-neutral-light-700);
    --clr-text-regular: var(--clr-neutral-light-600);

    --clr-pink: var(--clr-pink-lt);
    --clr-yellow: var(--clr-yellow-lt);
    --clr-rose: var(--clr-rose-lt);
    --clr-blue: var(--clr-blue-lt);
    --clr-light-blue: var(--clr-light-blue-lt);
    --clr-purple: var(--clr-purple-lt);
}


html {
    color-scheme: dark;
    overflow-x: hidden;
}

body {
    color: var(--clr-text-regular);
    background-color: var(--clr-bg);
    font-size: var(--fs-400);
    font-family: var(--ff-global);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-text-heading);
}

.primary-header {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    padding: var(--size-main-border);
    background-color: var(--clr-bg);
}

.theme-toggle-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    font-family: var(--ff-special);
    font-size: var(--fs-300);
    margin-top: .3rem;
    margin-right: 2rem;
    color: var(--clr-purple);
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: .75rem;
    height: .75rem;
    border: 1px solid var(--clr-text-heading);
    transition: background-color 300ms ease;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: var(--clr-purple);
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    height: calc(100dvh - calc(var(--size-main-border) * 2));
    width: calc(100dvw - calc(var(--size-main-border) * 2));
    border: 1px solid var(--clr-text-heading);
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-left: var(--size-main-border);
}

.special-text {
    color: var(--clr-rose);
    font-size: var(--fs-300);
    font-family: var(--ff-special);
}

.primary-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
}

.primary-nav-list {
    font-family: var(--ff-special);
    font-weight: 100;
    font-size: clamp(var(--fs-600), 4vw, var(--fs-900));

    & li::marker {
        content: '01. ';
        color: var(--clr-blue);
    }

    & li:nth-child(2)::marker {
        content: '02. ';
        color: var(--clr-pink);
    }

    & li:nth-child(3)::marker {
        content: '03. ';
        color: var(--clr-yellow);
    }
}

.header-a-tag {
    color: var(--clr-text-heading);
    text-decoration: none;
    font-weight: 100;
}

.header-a-tag:is(:hover, :focus-visible) {
    text-decoration: underline;
}

#contact-btn {
    border: none;
    color: var(--clr-text-heading);
    background-color: transparent;
    font-weight: 100;
    cursor: pointer;
}

#contact-btn:is(:hover, :focus-visible) {
    text-decoration: underline;
}

.form-wrapper {
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    margin: var(--size-main-border);
    border: 1px solid var(--clr-text-heading);
    background-color: var(--clr-bg-2);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    border: none;

    > label {
        font-family: var(--ff-special);
    }

    > input, textarea {
        border: none;
        border-radius: .25rem;
        padding: 1rem;
        color: var(--clr-bg);
        background-color: var(--clr-text-regular);
        font-weight: 500;
    }

    > ::placeholder {
        color: var(--clr-bg);
        opacity: .85;
        font-style: italic;
    }
}

.form-title {
    color: var(--clr-text-heading);
    font-family: var(--ff-special);
    font-size: clamp(var(--fs-600), 6vw, var(--fs-800));
    font-weight: 700;
}

.submit-btn {
    border: none;
    border-radius: .25rem;
    padding: .5em 1em;
    color: var(--clr-text-heading);
    background-color: var(--clr-bg);
    font-family: var(--ff-special);
    font-weight: 500;
    transition: box-shadow 300ms ease;
    cursor: pointer;
}

.submit-btn:is(:hover, :focus-visible) {
    box-shadow: .25rem .25rem 0 var(--clr-text-heading);
}

#go-back {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    padding: 1em;
    color: var(--clr-text-heading);
    background-color: transparent;
    font-family: var(--ff-special);
    font-size: var(--fs-700);
    font-weight: 600;
    cursor: pointer;
}

.copyright {
    margin-top: .5rem;
    color: var(--clr-light-blue);
    font-size: var(--fs-300);
    font-family: var(--ff-special);
    line-height: 1;
}

.main-content {
    display: grid;
    grid-template-columns: 
        minmax(1rem, 1fr) 
        min(100% - 2rem, 70rem) 
        minmax(1rem, 1fr);
}

.about-me {
    grid-column-start: 2;
}

.about-me-title {
    color: var(--clr-pink);
    font-size: clamp(var(--fs-700), 6vw, var(--fs-900));
}

.current-skills {
    display: flex;
}

.current-skills-list {
    display: flex;

    & img {
        max-width: 5rem;
    }
}

.my-work {
    grid-column-start: 2;
}

.my-work-title {
    color: var(--clr-light-blue);
    font-size: clamp(var(--fs-700), 6vw, var(--fs-900));
}

.previous-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-cell {
    width: 20rem;
    height: 20rem;
    border: 1px solid red;
    background-image: url(../assets/images/svg-icons/folder-svg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* UTILITY CLASSES */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    align-items: center;
    justify-content: space-between;
}

.section {
    margin-block: 4rem;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

/* CLIP PATH FOR PAGE TRANSITION, APPLY CLASS TO ELEMENT WITH JAVASCRIPT */
.clip-path-animation {
    animation: clip-path-anim .3s cubic-bezier(0.94, 0.04, 0.95, 1.14) forwards;
}

.clip-path-animation-reverse {
    display: flex;
    animation: clip-path-anim-reverse .3s cubic-bezier(0.94, 0.04, 0.95, 1.14) forwards;
    z-index: 10;
}


@keyframes clip-path-anim {
    from {
        display: flex;
        clip-path: inset(0 0 0 0);
    }

    to {
        clip-path: inset(0 0 0 100%);
        display: none;
    }
}

@keyframes clip-path-anim-reverse {
    from {
        clip-path: inset(0 0 0 100%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}