@import url("../css/andy-bell-reset.css");
@font-face {
    font-family: jetbrains-mono;
    src: url(../assets/fonts/variable/JetBrainsMono[wght].ttf),
         url(../assets/fonts/variable/JetBrainsMono-Italic[wght].ttf);
}

:root {
    /* ROSE PINE MAIN/DARK */
    /* ACCENT COLORS */
    --clr-pink-dt: hsl(343, 76%, 68%);
    --clr-yellow-dt: hsl(35, 88%, 72%);
    --clr-rose-dt: hsl(2, 55%, 83%);
    --clr-blue-dt: hsl(197, 49%, 38%);
    --clr-light-blue-dt: hsl(189, 43%, 73%);
    --clr-purple-dt: hsl(267, 57%, 78%);

    /* NEUTRAL COLORS DARK */
    --clr-neutral-dark-900: hsl(249, 22%, 12%);
    --clr-neutral-dark-800: hsl(247, 23%, 15%);
    --clr-neutral-dark-600: hsl(248, 25%, 18%);
    --clr-neutral-dark-400: hsl(249, 12%, 47%);
    --clr-neutral-dark-300: hsl(248, 24%, 75%);
    --clr-neutral-dark-100: hsl(245, 50%, 91%);

    /* ROSE PINE LIGHT */
    /* ACCENT COLORS */
    --clr-pink-lt: hsl(343, 35%, 55%);
    --clr-yellow-lt: hsl(35, 81%, 56%);
    --clr-rose-lt: hsl(3, 53%, 67%);
    --clr-blue-lt: hsl(197, 53%, 34%);
    --clr-light-blue-lt: hsl(189, 30%, 48%);
    --clr-purple-lt: hsl(268, 21%, 57%);

    /* NEUTRAL COLORS LIGHT */
    --clr-neutral-light-100: hsl(35, 100%, 98%);
    --clr-neutral-light-200: hsl(32, 57%, 95%);
    --clr-neutral-light-300: hsl(28, 40%, 92%);
    --clr-neutral-light-400: hsl(257, 9%, 61%);
    --clr-neutral-light-600: hsl(248, 12%, 52%);
    --clr-neutral-light-700: hsl(248, 19%, 40%);


    /* FONT */
    --ff-special: jetbrains-mono, system-ui, sans-serif;
    --ff-global: system-ui, sans-serif;

    /* FONT SIZE */
    --fs-100: .75rem;
    --fs-200: .875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;

    /* FONT WEIGHT */
    --fw-xt-thin: 100;
    --fw-thin: 300;
    --fw-regular: 500;
    --fw-bold: 700;

    /* MISC */
    --size-main-border: 2rem;
    --padding-wrapper: 2rem;
    --btn-ani: all 150ms cubic-bezier(1, 0.07, 0.77, 1.49);
}

@media screen and (max-width: 968px) {
    :root {
        --size-main-border: 1rem;
        --padding-wrapper: 1rem;
    }
}


/* COLOR THEME MEDIA QUERY */
@media (prefers-color-scheme: dark) {
    :root[data-color-theme="dark"] {
        --clr-bg: var(--clr-neutral-dark-900);
        --clr-bg-2: var(--clr-neutral-dark-600);
        --clr-text-heading: var(--clr-neutral-dark-100);
        --clr-text-regular: var(--clr-neutral-dark-300);

        --clr-pink: var(--clr-pink-dt);
        --clr-yellow: var(--clr-yellow-dt);
        --clr-rose: var(--clr-rose-dt);
        --clr-blue: var(--clr-blue-dt);
        --clr-light-blue: var(--clr-light-blue-dt);
        --clr-purple: var(--clr-purple-dt);
    }
}

:root[data-color-theme="dark"] {
    --clr-bg: var(--clr-neutral-dark-900);
    --clr-bg-2: var(--clr-neutral-dark-600);
    --clr-text-heading: var(--clr-neutral-dark-100);
    --clr-text-regular: var(--clr-neutral-dark-300);

    --clr-pink: var(--clr-pink-dt);
    --clr-yellow: var(--clr-yellow-dt);
    --clr-rose: var(--clr-rose-dt);
    --clr-blue: var(--clr-blue-dt);
    --clr-light-blue: var(--clr-light-blue-dt);
    --clr-purple: var(--clr-purple-dt);
}

@media (prefers-color-scheme: light) {
    :root[data-color-theme="light"] {
        --clr-bg: var(--clr-neutral-light-100);
        --clr-bg-2: var(--clr-neutral-light-200);
        --clr-text-heading: var(--clr-neutral-light-700);
        --clr-text-regular: var(--clr-neutral-light-600);

        --clr-pink: var(--clr-pink-lt);
        --clr-yellow: var(--clr-yellow-lt);
        --clr-rose: var(--clr-rose-lt);
        --clr-blue: var(--clr-blue-lt);
        --clr-light-blue: var(--clr-light-blue-lt);
        --clr-purple: var(--clr-purple-lt);
    }
}

:root[data-color-theme="light"] {
    --clr-bg: var(--clr-neutral-light-100);
    --clr-bg-2: var(--clr-neutral-light-200);
    --clr-text-heading: var(--clr-neutral-light-700);
    --clr-text-regular: var(--clr-neutral-light-600);

    --clr-pink: var(--clr-pink-lt);
    --clr-yellow: var(--clr-yellow-lt);
    --clr-rose: var(--clr-rose-lt);
    --clr-blue: var(--clr-blue-lt);
    --clr-light-blue: var(--clr-light-blue-lt);
    --clr-purple: var(--clr-purple-lt);
}

::-webkit-scrollbar {
    display: none;
}


html {
    color-scheme: dark;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    position: relative;
    color: var(--clr-text-regular);
    background-color: var(--clr-bg);
    font-size: var(--fs-400);
    font-family: var(--ff-global);
}

body::before,
body::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: var(--clr-text-heading);
    z-index: 20;
    margin-left: var(--size-main-border);
    margin-bottom: var(--size-main-border);
    scale: 1 0;
    animation: vertical-scroll linear;
    animation-timeline: view(-70px 700px);
    transform-origin: bottom;
}

body::after {
    right: 0;
    margin-right: var(--size-main-border);
}

@keyframes vertical-scroll {
    to {
        scale: 1 1;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-text-heading);
}

.primary-header {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    padding: var(--size-main-border);
    background-color: var(--clr-bg);
}

.theme-toggle-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    font-family: var(--ff-special);
    font-size: var(--fs-300);
    margin-top: .3rem;
    margin-right: 2rem;
    color: var(--clr-purple);
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: .75rem;
    height: .75rem;
    border: 1px solid var(--clr-text-heading);
    transition: background-color 300ms ease;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: var(--clr-purple);
}

.content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: calc(100dvh - calc(var(--size-main-border) * 2));
    width: calc(100dvw - calc(var(--size-main-border) * 2));
    border-top: 1px solid var(--clr-text-heading);
    border-left: 1px solid var(--clr-text-heading);
    border-right: 1px solid var(--clr-text-heading);
}

@media screen and (max-width: 968px) {
    .content-wrapper {
        margin-top: 1rem;
        height: calc(100dvh - 4rem);
    }
}

.content-wrapper::before,
.content-wrapper::after {
    position: absolute;
    content: '';
    width: 50%;
    bottom: 0;
    border-bottom: 1px solid var(--clr-text-heading);
    scale: 1 1;
    transform-origin: left;
    animation: scroll-ani linear;
    animation-timeline: scroll();
}

.content-wrapper::after {
    right: 0;
    transform-origin: right;
}

@keyframes scroll-ani {
    to {
        scale: 0 1;
    }
}

.header-content {
    width: 74rem;
    justify-content: space-between;
    margin-inline: auto;
    padding-inline: var(--padding-wrapper);
}

@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 50ch;
}

#page-title {
    font-size: clamp(var(--fs-700), 6vw, var(--fs-900));
}

.github-link {
    width: fit-content;
}

.github-svg {
    fill: var(--clr-text-regular);
    transition: all 300ms ease;
}

.github-svg:hover {
    fill: var(--clr-rose);
    transform: translateY(-5px);
}

.special-text {
    color: var(--clr-rose);
    font-size: var(--fs-300);
    font-family: var(--ff-special);
}

.primary-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.primary-nav-list {
    font-family: var(--ff-special);
    font-weight: var(--fw-xt-thin);
    font-size: clamp(var(--fs-700), 6vw, var(--fs-900));

    & li::marker {
        content: '01. ';
        color: var(--clr-blue);
    }

    & li:nth-child(2)::marker {
        content: '02. ';
        color: var(--clr-pink);
    }

    & li:nth-child(3)::marker {
        content: '03. ';
        color: var(--clr-yellow);
    }
}

@media screen and (max-width: 768px) {
    .primary-nav-list {
        margin-left: 6rem;
    }
}

.header-a-tag {
    color: var(--clr-text-heading);
    text-decoration: none;
    font-weight: var(--fw-xt-thin);
}

.header-a-tag:is(:hover, :focus-visible) {
    text-decoration: underline;
}

#contact-btn {
    border: none;
    color: var(--clr-text-heading);
    background-color: transparent;
    font-weight: var(--fw-xt-thin);
    cursor: pointer;
}

#contact-btn:is(:hover, :focus-visible) {
    text-decoration: underline;
}

.form-wrapper {
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clr-text-heading);
    background-color: var(--clr-bg-2);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    border: none;

    > label {
        font-family: var(--ff-special);
    }

    > input, textarea {
        border: none;
        border-radius: .25rem;
        padding: 1rem;
        color: var(--clr-bg);
        background-color: var(--clr-text-regular);
        font-weight: var(--fw-regular);
    }

    > ::placeholder {
        color: var(--clr-bg);
        opacity: .85;
        font-style: italic;
    }
}

.form-title {
    color: var(--clr-text-heading);
    font-family: var(--ff-special);
    font-size: clamp(var(--fs-600), 6vw, var(--fs-800));
    font-weight: var(--fw-bold);
}

.submit-btn {
    border: none;
    border-radius: .25rem;
    padding: .5em 1em;
    color: var(--clr-text-heading);
    background-color: var(--clr-bg);
    font-family: var(--ff-special);
    font-weight: var(--fw-regular);
    transition: box-shadow 300ms ease;
    cursor: pointer;
}

.submit-btn:is(:hover, :focus-visible) {
    box-shadow: .25rem .25rem 0 var(--clr-text-heading);
}

#go-back {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    padding: 1em;
    color: var(--clr-text-heading);
    background-color: transparent;
    font-family: var(--ff-special);
    font-size: var(--fs-700);
    font-weight: var(--fw-regular);
    cursor: pointer;
}

.detail-text {
    margin-top: .65rem;
    color: var(--clr-light-blue);
    font-family: var(--ff-special);
    font-size: var(--fs-100);
    font-weight: var(--fw-thin);
    line-height: 1;
}

.detail-symbol-span {
    color: var(--clr-purple);
}

.detail-text-span {
    color: var(--clr-yellow);
}

.main-content {
    display: grid;
    grid-template-columns: 
        minmax(1rem, 1fr) 
        min(100% - 2rem, 74rem) 
        minmax(1rem, 1fr);
}

.about-me {
    grid-column-start: 2;
    padding-inline: 2rem;
}

.about-me-info {
    max-width: 50ch;
}

.about-me-title {
    color: var(--clr-pink);
    font-size: clamp(var(--fs-700), 6vw, var(--fs-900));
}

.current-skills-list {
    border: 1px solid red;

    & img {
        max-width: 5rem;
    }
}

.my-work {
    grid-column-start: 2;
    padding-inline: 2rem;
}

.my-work-title {
    color: var(--clr-light-blue);
    font-size: clamp(var(--fs-700), 6vw, var(--fs-900));
}

.previous-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 968px) {
    .previous-projects-grid {
        grid-template-columns: 1fr;
    }
}

.project-card {
    border: 1px solid var(--clr-text-heading);
    padding: 1rem;

    > p {
        flex-grow: 1;
    }
}

.card-img {
    transition: all 300ms ease;
}

.card-img:hover {
    scale: 2;
    box-shadow: 0 0 5rem black;
}

@media screen and (max-width: 968px) {
    .card-img:hover {
        scale: 1;
    }
}

.project-card-title {
    font-family: var(--ff-special);
    text-shadow: 1px 1px 1px var(--clr-light-blue);
}

.project-links {
    position: relative;
    padding: .5em 1em;
    color: var(--clr-text-heading);
    font-family: var(--ff-special);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-decoration: none;
    line-height: 1;
    transition: var(--btn-ani);
}

.project-links:hover {
    color: var(--clr-bg);
}


.project-links::before {
    content: '';
    z-index: -10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: .75em;
    height: .75em;
    background-color: var(--clr-purple);
    transition: var(--btn-ani);
}

.project-links:hover::before {
    content: '';
    width: 100%;
    height: 100%;
}

.project-links::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: .75em;
    height: .75em;
    border-top: 1px solid var(--clr-text-heading);
    border-right: 1px solid var(--clr-text-heading);
    transition: var(--btn-ani);
}

.project-links:hover::after {
    border-top: 1px solid var(--clr-bg);
    border-right: 1px solid var(--clr-bg);
}

.primary-footer {
    height: 10rem;
    margin-inline: var(--size-main-border);
    border-top: 1px solid var(--clr-text-heading);
    padding: calc(var(--size-main-border) / 2);
}

.footer-nav {
    justify-content: space-between;
    font-family: var(--ff-special);
}

.special-text-footer {
    font-size: var(--fs-200);
    color: var(--clr-pink);
}

.copyright {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    color: var(--clr-light-blue);
    font-size: var(--fs-300);
    font-family: var(--ff-special);
    line-height: 1;
}

.footer-return-link {
    color: var(--clr-text-heading);
    font-family: var(--ff-special);
    font-size: var(--fs-900);
    text-decoration: none;
    line-height: 1;
    transition: var(--btn-ani);
}

.footer-return-link:is(:hover, :focus-visible) {
    color: var(--clr-pink);
    transform: translateY(-5px);
}

/* UTILITY CLASSES */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.section {
    margin-block: 6rem;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/* CLIP PATH FOR PAGE TRANSITION, APPLY CLASS TO ELEMENT WITH JAVASCRIPT */
.clip-path-animation {
    animation: clip-path-anim .3s cubic-bezier(0.94, 0.04, 0.95, 1.14) forwards;
}

.clip-path-animation-reverse {
    display: flex;
    animation: clip-path-anim-reverse .3s cubic-bezier(0.94, 0.04, 0.95, 1.14) forwards;
    z-index: 10;
}


@keyframes clip-path-anim {
    from {
        display: flex;
        clip-path: inset(0 0 0 0);
    }

    to {
        clip-path: inset(0 0 0 100%);
        display: none;
    }
}

@keyframes clip-path-anim-reverse {
    from {
        clip-path: inset(0 0 0 100%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}
